---
title: City of Cincinnati Expenses 
subtitle: An exploration of the City of Cincinnati's expenses.  
summary: The source of this data set is the City of Cincinnati Financial System (CFS) 
authors:
- andre
tags: [Jupyter, Fiscal Sustainability]
categories: [Python, Finance, SQL]
date: "2020-03-04T00:00:00Z"
lastMod: "2020-03-04T00:00:00Z"
featured: true
draft: false

# Featured image
# To use, add an image named `featured.jpg/png` to your page's folder. 
image:
  caption: ""
  focal_point: ""

# Projects (optional).
#   Associate this post with one or more of your projects.
#   Simply enter your project's folder or file name without extension.
#   E.g. `projects = ["internal-project"]` references 
#   `content/project/deep-learning/index.md`.
#   Otherwise, set `projects = []`.
projects: []
---

{{% toc %}}

# Getting the Data

[City of Cincinnati Expenses by Object Code](https://dev.socrata.com/foundry/data.cincinnati-oh.gov/55e3-bbia)

[City of Cincinnati Expenses by Object Code](https://data.cincinnati-oh.gov/Fiscal-Sustainability/City-of-Cincinnati-Expenses-by-Object-Code/55e3-bbia)

In [2]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cincinnati-oh.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cincinnati-oh.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("55e3-bbia", limit=1813010)

# Convert to pandas DataFrame
cinci_exp = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
print("Summary of the basic information about this DataFrame and its data:")
print(cinci_exp.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813010 entries, 0 to 813009
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   fiscal_year          813010 non-null  object
 1   bfy                  813010 non-null  object
 2   fund_code            813010 non-null  object
 3   fund_name            813010 non-null  object
 4   department           813010 non-null  object
 5   department_name      813010 non-null  object
 6   object_code          813010 non-null  object
 7   object_name          813010 non-null  object
 8   expenses             813010 non-null  object
 9   prior_yr_expenses    813010 non-null  object
 10  doc_rec_dt           813010 non-null  object
 11  commodity_code       298560 non-null  object
 12  commodity_code_desc  298560 non-null  object
dtypes: object(13)
memory usage: 80.6+ MB
None

In [56]:
cinci_exp.describe(include='all')

,fiscal_year,bfy,fund_code,fund_name,department,department_name,object_code,object_name,expenses,prior_yr_expenses,doc_rec_dt,commodity_code,commodity_code_desc
count,813010,813010,813010,813010,813010,813010,813010,813010,813010,813010,813010,298560,298560
unique,6,9,179,179,150,147,306,303,365125,52763,1782,2322,2286
top,2015,2015,050,GENERAL,252,TRAFFIC AND ROAD OPERATIONS,7289,EXPERT SERVICES-NOC,0,0,2018-11-27T00:00:00.000,98526,COPY MACHINE (INCL. COST-PER-COPY TYPE LEASES)...
freq,145690,144753,229711,229711,31365,31365,58718,58718,48666,733588,3029,10700,10700

In [4]:
import sqlalchemy
import psycopg2
engine = sqlalchemy.create_engine('postgresql://dre:password@localhost:5432/cincinnati')
cinci_exp.to_sql('cinci_exp', engine)

ValueError: Table 'cinci_exp' already exists.

In [5]:
connection = psycopg2.connect(user="dre",
                                  password="password",
                                  host="localhost",
                                  port="5432",
                                  database="cincinnati")
cursor = connection.cursor()
postgreSQL_select_Query = "SELECT * FROM cinci_exp"

cursor.execute(postgreSQL_select_Query)
print("Selecting rows from chcc_activities table using cursor.fetchall")
chcc_activities_sql = cursor.fetchall()

if(connection):
      cursor.close()
      connection.close()
      print("PostgreSQL connection is closed")

Selecting rows from chcc_activities table using cursor.fetchall
PostgreSQL connection is closed

In [3]:
%load_ext sql

In [4]:
%sql postgresql://dre:password@localhost:5432/cincinnati

'Connected: dre@cincinnati'

In [5]:
%%sql
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name = 'cinci_exp';

 * postgresql://dre:***@localhost:5432/cincinnati
14 rows affected.

[('index', 'bigint'),
 ('fiscal_year', 'integer'),
 ('bfy', 'integer'),
 ('fund_code', 'text'),
 ('fund_name', 'text'),
 ('department', 'text'),
 ('department_name', 'text'),
 ('object_code', 'text'),
 ('object_name', 'text'),
 ('expenses', 'money'),
 ('prior_yr_expenses', 'money'),
 ('doc_rec_dt', 'timestamp without time zone'),
 ('commodity_code', 'text'),
 ('commodity_code_desc', 'text')]

In [6]:
%%sql 
SELECT *
FROM cinci_exp
ORDER BY expenses DESC
LIMIT 4

 * postgresql://dre:***@localhost:5432/cincinnati
4 rows affected.

[(438225, 2016, 2016, '151', 'BOND RETIREMENT  - CITY', '134', 'FINANCE, TREASURY', '7711', 'NOTES', '$51,741,846.00', '$0.00', datetime.datetime(2015, 8, 28, 0, 0), None, None),
 (3144, 2017, 2017, '151', 'BOND RETIREMENT  - CITY', '134', 'FINANCE, TREASURY', '7712', 'SERIAL BONDS', '$35,122,146.11', '$0.00', datetime.datetime(2016, 11, 29, 0, 0), None, None),
 (201095, 2016, 2016, '815', 'JUDGEMENT BONDS', '134', 'FINANCE, TREASURY', '7458', 'JUDGMENTS - PERSONNEL COSTS', '$32,900,000.00', '$0.00', datetime.datetime(2015, 12, 23, 0, 0), None, None),
 (735209, 2018, 2018, '151', 'BOND RETIREMENT  - CITY', '134', 'FINANCE, TREASURY', '7712', 'SERIAL BONDS', '$32,129,529.03', '$0.00', datetime.datetime(2017, 11, 30, 0, 0), None, None)]

In [12]:
%%sql

SELECT DISTINCT fiscal_year, department_name, 
       -- Calculate the standard deviation
	   stddev(expenses::numeric) 
       OVER(PARTITION BY department_name ORDER BY fiscal_year) AS StdDevExpenses	  
FROM cinci_exp
ORDER BY StdDevExpenses DESC
LIMIT 10

 * postgresql://dre:***@localhost:5432/cincinnati
10 rows affected.

[(2015, 'INDIRECT COSTS', None),
 (2015, 'MSD SURPLUS', None),
 (2020, 'SORTA OPERATIONS', Decimal('2600163.8755')),
 (2019, 'SORTA OPERATIONS', Decimal('2494654.4800')),
 (2017, 'MSD DEBT SERVICE', Decimal('2089802.7096')),
 (2015, 'SORTA OPERATIONS', Decimal('2085892.4633')),
 (2017, 'SORTA OPERATIONS', Decimal('2075075.8579')),
 (2016, 'SORTA OPERATIONS', Decimal('2066961.2289')),
 (2018, 'SORTA OPERATIONS', Decimal('2058414.9588')),
 (2020, 'MSD DEBT SERVICE', Decimal('2050421.8292'))]

In [13]:
%%sql
SELECT a.fiscal_year, a.department_name,
-- Select maximum glucose value (use colname from derived table)    
       b.Maxexpenses
FROM cinci_exp a
-- Join to derived table
JOIN (SELECT department_name, MAX(expenses) AS Maxexpenses FROM cinci_exp GROUP BY department_name) b
-- Join on Age
ON a.department_name = b.department_name
WHERE expenses = Maxexpenses
ORDER BY Maxexpenses DESC
LIMIT 10

 * postgresql://dre:***@localhost:5432/cincinnati
10 rows affected.

[(2016, 'FINANCE, TREASURY', '$51,741,846.00'),
 (2016, "CITY MANAGER'S OFFICE", '$27,082,317.82'),
 (2016, 'DIVISION OF COMMUNITY DEVEL', '$23,629,100.91'),
 (2017, 'WATER WORKS DEBT SERVICE', '$12,618,421.66'),
 (2015, 'ECONOMIC DEVELOPMENT', '$12,000,000.00'),
 (2017, 'MSD DEBT SERVICE', '$11,953,885.90'),
 (2017, 'DIVISION OF ENGINEERING', '$11,797,753.83'),
 (2017, 'DIV OF CITY FACILITY MGMT', '$10,000,000.00'),
 (2016, 'PARKS, ADM & PROGRAM SERVICES', '$10,000,000.00'),
 (2018, 'FINANCE, ACCOUNTS & AUDITS', '$8,332,100.28')]

In [ ]:
%%sql  
-- CTE from the previous exercise
WITH ModePrice (expenses, ExpensesFrequency)
AS
(
	SELECT expenses,
	ROW_NUMBER() 
    OVER (PARTITION BY expenses ORDER BY expenses) AS ExpensesFrequency
	FROM Orders
)

-- Select the order price from the CTE
SELECT OrderPrice AS ModeOrderPrice
FROM ModePrice
-- Select the maximum UnitPriceFrequency from the CTE
WHERE UnitPriceFrequency IN (SELECT MAX(UnitPriceFrequency) FROM ModePrice)

In [14]:
%%sql  
-- CTE from the previous exercise
WITH ModeExpenses (expenses, ExpensesFrequency)
AS
(
	SELECT expenses,
	ROW_NUMBER() 
    OVER (PARTITION BY expenses ORDER BY expenses) AS ExpensesFrequency
	FROM CINCI_EXP
)

-- Select the order price from the CTE
SELECT expenses AS ModeExpenses
FROM ModeExpenses
-- Select the maximum UnitPriceFrequency from the CTE
WHERE ExpensesFrequency IN (SELECT MAX(ExpensesFrequency) FROM ModeExpenses)

 * postgresql://dre:***@localhost:5432/cincinnati
1 rows affected.

[('$0.00',)]

In [24]:
%%sql     
ALTER TABLE 
cinci_exp 
ALTER COLUMN fiscal_year TYPE integer USING (fiscal_year::integer),
ALTER COLUMN bfy TYPE integer USING (bfy::integer),
ALTER COLUMN expenses TYPE money USING (expenses::money),
ALTER COLUMN prior_yr_expenses TYPE money USING (prior_yr_expenses::money),
ALTER COLUMN doc_rec_dt TYPE timestamp USING (doc_rec_dt::timestamp)
;

 * postgresql://dre:***@localhost:5432/cincinnati
Done.

[]

In [25]:
%%sql 
SELECT 
  COUNT(*) 
    FROM (
      SELECT DISTINCT *
        FROM cinci_exp) 
        AS unique_cinci_exp;

 * postgresql://dre:***@localhost:5432/cincinnati
1 rows affected.

[(813010,)]

In [8]:
%%sql
SELECT 
  MIN(expenses) AS min_expenses 
FROM 
  cinci_exp

 * postgresql://dre:***@localhost:5432/cincinnati
1 rows affected.

[('-$6,300,000.00',)]

In [9]:
%%sql
SELECT 
  MAX(expenses) AS max_expenses 
FROM 
  cinci_exp

 * postgresql://dre:***@localhost:5432/cincinnati
1 rows affected.

[('$51,741,846.00',)]

In [10]:
%%sql
SELECT AVG(expenses::numeric) FROM cinci_exp;

 * postgresql://dre:***@localhost:5432/cincinnati
1 rows affected.

[(Decimal('10462.441654616794'),)]

In [26]:
%%sql
SELECT 
department_name, expenses
FROM 
cinci_exp
WHERE department_name LIKE '%HEALTH%'
ORDER BY expenses DESC
LIMIT 10;

 * postgresql://dre:***@localhost:5432/cincinnati
10 rows affected.

[('PRIMARY HEALTH CARE - H.C.', '$525,849.46'),
 ('PRIMARY HEALTH CARE - H.C.', '$450,057.24'),
 ('SCHOOL & ADOLESCENT HEALTH', '$404,351.91'),
 ('SCHOOL & ADOLESCENT HEALTH', '$391,178.57'),
 ('PRIMARY HEALTH CARE - H.C.', '$327,762.15'),
 ('PRIMARY HEALTH CARE - H.C.', '$319,657.65'),
 ('SCHOOL & ADOLESCENT HEALTH', '$301,482.91'),
 ('PRIMARY HEALTH CARE - H.C.', '$293,494.88'),
 ('PRIMARY HEALTH CARE - H.C.', '$285,903.72'),
 ('PRIMARY HEALTH CARE - H.C.', '$269,970.75')]

In [27]:
%%sql
SELECT 
department_name, 
SUM(expenses) AS sum_expenses
FROM 
cinci_exp
GROUP BY department_name
ORDER BY sum_expenses DESC
LIMIT 10;

 * postgresql://dre:***@localhost:5432/cincinnati
10 rows affected.

[('DEPARTMENT OF POLICE', '$748,066,052.45'),
 ('FIRE - RESPONSE', '$635,841,944.34'),
 ('FINANCE, TREASURY', '$603,467,697.36'),
 ('MSD DEBT SERVICE', '$522,816,512.71'),
 ('DEPARTMENT OF SEWERS', '$505,912,327.84'),
 ('FINANCE, RISK MANAGEMENT', '$485,733,861.14'),
 ('DIVISION OF ENGINEERING', '$333,373,386.81'),
 ('SORTA OPERATIONS', '$318,061,013.18'),
 ('FINANCE, ACCOUNTS & AUDITS', '$314,642,018.23'),
 ('WATER WORKS DEBT SERVICE', '$260,701,030.21')]

In [28]:
%%sql
SELECT 
department_name, 
SUM(expenses) AS sum_expenses
FROM 
cinci_exp
WHERE department_name LIKE '%HEALTH%'
GROUP BY department_name
ORDER BY sum_expenses DESC
LIMIT 10;

 * postgresql://dre:***@localhost:5432/cincinnati
6 rows affected.

[('PRIMARY HEALTH CARE - H.C.', '$122,624,816.18'),
 ('SCHOOL & ADOLESCENT HEALTH', '$52,176,008.35'),
 ('PRIMARY HEALTH CARE - S.P.', '$44,315,562.53'),
 ('DIV OF COMMUNITY HEALTH', '$39,880,012.54'),
 ('HEALTH, OFFICE OF THE COMMISSIONER', '$16,701,284.07'),
 ('HEALTH, TECHNICAL RESOURCES', '$13,181,665.64')]

In [32]:
%%sql
SELECT 
department_name, 
SUM(expenses) AS sum_expenses
FROM 
cinci_exp
GROUP BY department_name
ORDER BY sum_expenses
LIMIT 10;

 * postgresql://dre:***@localhost:5432/cincinnati
10 rows affected.

[('COMMUNITY DEVELOPMT', '$0.00'),
 ('DIV OF BUILDING INSPECTION', '$10,844.15'),
 ('DEPT OF PUBLIC RECREATION', '$27,669.08'),
 ('DEPARTMENT OF FIRE', '$29,739.78'),
 ('DEPARTMENT OF ECONOMIC INCLUSION', '$73,741.60'),
 ('DOWNTOWN SPECL IMPROV DISTRICT', '$108,867.09'),
 ('COUNCILMEMBER G. LANDSMAN', '$245,496.16'),
 ('COUNCILMEMBER J. PASTOR', '$248,798.92'),
 ('COUNCILMEMBER T. DENNARD', '$260,750.62'),
 ('INDIRECT COSTS', '$300,000.00')]

In [40]:
%%sql
SELECT 
COUNT(department_name) AS department_name_count,
department_name, 
SUM(expenses) AS sum_expenses,
AVG(expenses::numeric) AS avg_expenses
FROM 
cinci_exp
WHERE department_name LIKE '%COUNCILMEMBER%'
GROUP BY department_name
ORDER BY sum_expenses DESC
LIMIT 40;

 * postgresql://dre:***@localhost:5432/cincinnati
12 rows affected.

[(368, 'COUNCILMEMBER A. MURRAY', '$651,569.25', Decimal('1770.5686141304347826')),
 (427, 'COUNCILMEMBER C. SEELBACH', '$650,406.06', Decimal('1523.1992037470725995')),
 (406, 'COUNCILMEMBER D. MANN', '$645,487.62', Decimal('1589.8709852216748768')),
 (330, 'COUNCILMEMBER PG SITTENFELD', '$638,702.62', Decimal('1935.4624848484848485')),
 (308, 'COUNCILMEMBER W. YOUNG', '$637,126.56', Decimal('2068.5927272727272727')),
 (399, 'COUNCILMEMBER C. SMITHERMAN', '$633,959.29', Decimal('1588.8704010025062657')),
 (303, 'COUNCILMEMBER Y. SIMPSON', '$386,597.49', Decimal('1275.8993069306930693')),
 (223, 'COUNCILMEMBER C. WINBURN', '$371,479.51', Decimal('1665.8273991031390135')),
 (203, 'COUNCILMEMBER K. FLYNN', '$323,355.63', Decimal('1592.8848768472906404')),
 (115, 'COUNCILMEMBER T. DENNARD', '$260,750.62', Decimal('2267.3966956521739130')),
 (120, 'COUNCILMEMBER J. PASTOR', '$248,798.92', Decimal('2073.3243333333333333')),
 (130, 'COUNCILMEMBER G. LANDSMAN', '$245,496.16', Decimal('1888.4320000000000000'))]

jupyter nbconvert index.ipynb --to markdown --NbConvertApp.output_files_dir=.

# References

1. [Creating Healthy Communities Coalition (CHCC) Activities](https://dev.socrata.com/foundry/data.cincinnati-oh.gov/skqm-k58y)
1. [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/index.html)
1. [SQLAlchemy — Python Tutorial](https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91)
1. [How to write DataFrame to postgres table?](https://stackoverflow.com/questions/23103962/how-to-write-dataframe-to-postgres-table)
1. [Python: Get the Python version](https://www.w3resource.com/python-exercises/python-basic-exercise-2.php)
1. [Python Select from PostgreSQL Table](https://pynative.com/python-postgresql-select-data-from-table/)
1. [Here’s How to Run SQL in Jupyter Notebooks](https://towardsdatascience.com/heres-how-to-run-sql-in-jupyter-notebooks-f26eb90f3259)